<!DOCTYPE html>
{% load static %}
<html lang="es">
<meta charset="utf-8">

<html>
	<head>
		<title>Almuerzos</title>
	</head>
	<body>

		<img src="{% static 'css/burrito.jpg' %}" width="500px">
		<h1>Precio :$5.000</h1> <br>
		
		<img src="{% static 'css/ensaladas.jpg' %}" width="400px">
		<h1>Precio :$3.500</h1> <br>
		
		<img src="{% static 'css/nose.jpg' %}" width="400px">
		<h1>Precio :$5.000</h1> <br>
			
		<img src="{% static 'css/salteado.jpg' %}" width="400px">
		<h1>Precio :$3.000</h1> <br>	
		
		<img src="{% static 'css/tortados.jpg' %}" width="400px">
		<h1>Precio :$8.500</h1> <br>
			
		<img src="{% static 'css/tofu.jpg' %}" width="400px">
		<h1>Precio :$4.900</h1> <br>
		
		<img src="{% static 'css/polenta.jpg' %}" width="400px">
		<h1>Precio :$6.000</h1> <br>
		
		<img src="{% static 'css/cafekino.jpg' %}" width="400px">
		<h1>Precio :$5.000</h1> <br>
		
	</body>
</html>