<!DOCTYPE html>
{% load static %}
<html lang="es">
<meta charset="utf-8">

<html>
	<head>
		<title>Almuerzos</title>
	</head>
	<body>

		<img src="{% static 'css/cena1.jpg' %}" width="300px">
		<h1>Precio :$5.000</h1> <br>
		
		<img src="{% static 'css/cena2.jpg' %}"width="400px">
		<h1>Precio :$3.500</h1> <br>
		
		<img src="{% static 'css/cena3.jpg' %}" width="400px">
		<h1>Precio :$5.000</h1> <br>
			
		<img src="{% static 'css/panqueques.jpg' %}" width="400px">
		<h1>Precio :$3.000</h1> <br>	
		
		<img src="{% static 'css/cereales.jpg' %}" width="400px">
		<h1>Precio :$5.000</h1> <br>
			
	</body>
</html>